#header{
  height: 10vh;
  background: #ff9319;
}
#content{
  height: 80vh;
  background: #ededed;
}
#footer{
  height: 10vh;
  background: #177c5e;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* OwnerloginPage */
.login #header{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login #content{
  background: #fff;
  text-align: center;
}
.login #content #description{
  padding-top: 20vh;
  color: rgb(98, 98, 98);
  font-weight: bold;
  font-size: 1.2rem;
}
.login #content h1{
  font-size: 2.5rem;
}
.login #content h2{
  padding-top: 2vh;
  color: gray;
  font-size: 1.2rem;
}
.login #content .loginForm{
  padding-top: 5vh;
}
.login #content .loginForm label input, button{
  display: block;
  margin: 0 auto;
  padding: 5px;
  margin: 10px auto;
}
.login #content .loginForm label input{
  border: none;
  border-bottom: 1.5px solid gray;
  width: 250px;
}
.login #content .loginForm .loginCheck{
  display: flex;
  width: 105px;
  margin: 0 auto;
  align-items: center;
}
.login #content .loginForm .loginCheck p{
  padding: 0 5px;
  color: rgb(69, 69, 69);
}
.login #content .loginForm button{
  margin: 20px auto;
  background: #177c5e;
  border-color: transparent;
  height: 50px; 
  width: 200px;
  font-size: 1.2rem;
  box-shadow: 0 3px 2px -1px #111;
  border-radius: 10px;
}
.login #content .loginForm button a{
  color: #fff;
  text-decoration: none;
}
.login #content .searchInfo ul{
  padding-top: 20px;
}
.login #content .searchInfo li{
  color: gray;
  position: relative;
  display: inline;
  padding: 0 8px 0 10px;
  letter-spacing: 0.7px;
}
.login #content .searchInfo li:not(:first-child):before {
  content: ""; 
  width: 2px; 
  height: 15px; 
  background: #bbb; 
  position: absolute;
  left: 0; 
  top: 3px;
}

/* Nav */
nav{
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
nav h1{
  font-size: 2rem;
}
.nav-links{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li a{
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.nav-links li a:link{
  text-decoration: none;
}
nav ul li:hover a{
  color: #000;
  transition: 0.4s ease;
}

/* burger */
.nav-links{
  z-index: 9999;
}
.burger{
  display: none !important;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px){
  html, body{
      position: relative;
      overflow-x: hidden;
  }
  .nav-links {
      position: absolute;
      justify-content: space-around;
      right: 0px;
      height: 90vh;
      top: 10vh;
      background: #ff9319;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
      opacity: 0;
  }
  .burger{
      display: block !important;
      position: absolute;
      margin-left: auto;
      right: 3%;
      cursor: pointer;
  }
  nav-list{
      width: 70%;
  }
}
.nav-active{
  transform: translateX(0%);
}
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

/* OwnerHome */
.salesPrice, .salesTop3, .recentEvent {
  background: #fff;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}
.ownerHome div{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.salesPrice{
  height: 20vh;
  padding: 1vh;
}
.salesPrice h2{
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 5px;
}
.salesPrice h1{
  color: #ff7030;
  font-size: 3.2rem;
  text-align: center;
}
.salesPrice button{
  border-style: none;
  background: #fff;
  border-top: 2px solid #ededed;
  width: 100%;
  margin: 0;
  padding: 7px 0 0 0;
  height: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.salesTop3{
  height: 42vh;
  padding: 1vh;
  display: block !important;
}
.salesTop3 .menuContainer{
  justify-content: space-around;
  height: 90%;
}
.salesTop3 h1{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 0 0 10px;
  height: 10%;
}
.salesTop3 .menu{
  flex-direction: row;
  align-items: center;
}
.salesTop3 h3{
  background: #ff7030;
  color: #fff;
  border-radius: 5px;
  padding: 4px 15px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.salesTop3 span{
  height: 70px;
  width: 70px;
}
.ownerHome #footer{
  align-items: unset;
}
.recentEvent{
  height: 5vh;
  padding: 1vh;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}
.recentEvent h1{
  font-size: 1.5rem;
  font-weight: bold;
}
.recentEvent #count{
  color: #ff7030;
  padding: 0 8px;
}

/* menuEditor */
.menuEdit .storeName, .category, .menuInfo{
  background: #fff;
}
.menuEdit #content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menuEdit .category{
  display: flex;
  align-items: center;
}
.storeName{
  width: 80%;
  border-radius: 10px;
  text-align: center;
  margin: 5px 0 -5px 0 ;
}
.storeName h1{
  font-size: 1.8rem;
}
.menuEdit .category{
  width: 100%;
}
.menuEdit .category ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.menuEdit .category li{
  color: #663a26;
  position: relative;
  display: inline;
  padding: 0 8px 0 10px;
  letter-spacing: 0.7px;
  font-weight: bold;
  font-size: 1.2rem;
}
.menuEdit .category button{
  border-style: none;
  background: #fff;
  font-size: 1.2rem;
  color: #ff7030;
  font-weight: bold;
}
.menuEdit .category li:not(:first-child):before {
  content: ""; 
  width: 1.5px; 
  height: 18px; 
  background: #663a26; 
  position: absolute;
  left: 0; 
  top: 5px;
}
.menuEdit .menu{
  display: flex;
}
.menuEdit .menu span{
  height: 100px;
  width: 100px;
  background-color: #fff;
}
.menuEdit .menu .menuInfo{
  margin: 0 10px;
  width: 230px;
  border-radius: 10px;
}
.menuEdit .menu .menuInfo h1, h2{
  padding: 10px;
}
.menuEdit .menu .menuInfo h1{
  font-size: 1.8rem;
}
#menuEditBtn{
  border: 2px solid #ff7030;
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
#menuAddBtn{
  border: none;
  border-radius: 10px;
  background-color: #ff7030;
  color: #fff;
  font-size: 1.5rem;
  width: 400px;
}
/* userLogin */
.userLogin{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.userLogin button{
  margin: 0 auto !important;
}
.userLogin label{
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
}
.userLogin label input{
  padding-top: 5vh !important;
}
.login #content .loginForm #undefined{
  background: #fff;
  border-color: #ccc;
  box-shadow: none;
}
.login #content .loginForm #undefined a{
  color: gray;
}